@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat-Medium.woff") format('woff');
}
