/*320------------------*/

@media (min-width: 320px) {
  .footer {
    background-color: #FFA62B;

    &__inner {
      padding: 55px 0;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__item {
      margin-bottom: 10px;
    }

    &__title {
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
    }

    &__link {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__contacts {
      margin-left: 30px;
      position: relative;
    }

    &__list-img {
      position: absolute;
      left: -30px;
    }

    &__copyright {
      background-color: #FAFAFA;
    }

    &__copyright-inner {
      padding: 25px 0;
    }

    &__text {
      margin-bottom: 50px;
    }

    &__social {
      display: flex;
      align-items: center;
    }

    &__social-item {
      margin-right: 20px;
    }
  }
}

/*768------------------*/

@media (min-width: 768px) {
  .footer {
    &__nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__list {
      width: 33%;
    }

    &__text {
      text-align: center;
    }

    &__social {
      justify-content: center;
    }
  }
}

/*1024------------------*/

@media (min-width: 1024px) {
  .footer {
    &__nav {
      flex-wrap: nowrap;
    }

    &__list {
      width: 33%;
    }

    &__copyright-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__text {
      margin-bottom: 0;
    }
  }
}
